# Generic

.env
*.log

# Composer

composer.phar
/vendor/

# Node

node_modules/

# WordPress

wp-admin/
wp-content/*
!wp-content/languages/
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/twenty*/
wp-includes/
